TOKEN=coloque-o-token-aqui
CLIENT_ID=coloque-o-client-id-aqui
GUILD_ID=coloque-o-id-do-servidor-aqui
APPROVAL_ROLE_ID=coloque-o-id-do-cargo-de-aprovacao
SYNC_EMOJIS_ON_START=true
EMOJI_FOLDER=discord-emojis/upload